#profile .img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 0;
    border: 2px solid rgb(218,32,49);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#profile .imgFile {
    position: absolute;
    left: 45%;
    top: 30%;
}
#profile input, #profile select {
    margin: 10px 0;
    height: 35px;
    width: 250px;
    padding: 0 10px;
    font-size: 1em;
    outline: none;
    border: 0;
    border-radius: 10px;
    color: #000;
    background: transparent;
}
#profile select {
    cursor: pointer;
}
#profile input[type="file"] {
    margin: 0 0 30px 0;
}
#profile .edit {
    border: 2px solid rgb(218,32,49);
}
#profile button {
    height: 40px;
    width: 150px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 10px;
    border: 0;
    border: 2px solid green;
    margin: 30px 0 20px 0;
}
#profile .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#profile .label {
    font-weight: bold;
}
#profile .logout {
    display: block;
    width: 120px;
    border: 2px solid red;
    background: rgb(218,32,49);
    font-weight: bold;
    color: #fff;
    margin: 30px 0 100px 0;
}